.my-button{
    height: 40px;
    min-width: 150px;
    border-radius: 8px;
    cursor: pointer;

    font-size: 18px;
    transition: background 200ms ease-in-out;
}

.my-button:hover{
    background: rgb(0, 137, 0);
}

.my-button--primary{
    background: rgb(0, 165, 0);
    border: none;
    color: white;
}

.my-button--bordered{
    background: none;
    border: 1px solid ;
    color:rgb(0, 165, 0);
}