
.my-button {
    height: 40px;
    min-width: 150px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background 200ms ease-in-out;
}


.my-button--sm {
    height: 30px;
    min-width: 120px;
    font-size: 14px;
}


.my-button--med {
    height: 40px;
    min-width: 150px;
    font-size: 18px;
}


.my-button--lg {
    height: 50px;
    min-width: 200px;
    font-size: 22px;
}


.my-button:hover {
    background: rgb(0, 137, 0);
}


.my-button--primary {
    background: rgb(0, 165, 0);
    border: none;
    color: white;
}

.my-button--primary:hover{
    background-color: rgb(0, 137, 0);
}

.my-button--bordered {
    background: none;
    border: 1px solid rgb(0, 165, 0);
    color: rgb(0, 165, 0);
}
.my-button--bordered:hover{
    border: 1px solid rgb(0, 165, 0);
    color: white;
}